.converter_container {
    height: 359px;
    background-color: #F7F7F7;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem;
}

.converter_container h1 {
    font-size: 40px;
    color: #433F3E;
    font-weight: 400;
    margin: 0;
    text-align: center;
}

.converter_container span {
    color: #F79B0B;
}

.converter_container p {
    font-size: 20px;
    color: #738292;
    margin: 0 0 10px 0;
    font-weight: 500;
    text-align: center;
}

.input_with_button {
    display: flex;
    width: 100%;
    justify-content: center;
}

.input_with_button input {
    width: 650px;
    padding: 12px 12px;
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid #ced4da;
    color: #495057;
}

.input_with_button input:focus {
    outline: 0;
}

.input_with_button button {
    background-color: #F79B0B;
    height: 46px;
    width: 41px;
    background-image: url('../../assets/arrow.svg');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    right: 0;
    top: 0;
    bottom: 0;

    margin-left: -20px;
    border-radius: 0 5px 5px 0;
}

#videoInfo {
    display: flex;
    width: 696px;
    height: 50%;
    margin-top: 10px;
    background-color: white;
    border-radius: 6px;
}

#videoInfo div {
    padding: 1.25rem;
    width: 50%;
}

#videoInfo img {
    border-radius: 6px;
}

#videoInfo p {
    font-size: 1rem;
}

#error {
    width: 676px;
    background-color: #FFCDD2;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

#error b {
    color: #5e5e5e;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .converter_container input {
        width: 80%;
    }
}