#videoInfo {
    display: flex;
    width: 696px;
    height: 50%;
    margin-top: 10px;
    background-color: white;
    border-radius: 6px;
}

#videoInfo .videoInfo_container {
    padding: 1.25rem;
    width: 50%;
}

#videoInfo img {
    border-radius: 6px;
}

#videoInfo p {
    font-size: 1rem;
}

#videoInfo .custom_select {
    width: 100%;
    border: 1px solid #ced4da;
    font-size: 1rem;
    border-radius: 0.25rem;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    color: #495057;
}

#videoInfo .custom_select:focus {
    outline: none;
}


@media screen and (max-width: 768px) {
    #videoInfo {
        flex-direction: column;

        width: 90%;
    }

    #videoInfo .videoInfo_container {
        width: 80%;
        margin: 0 auto;
    }

}